.slider-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.card {
  display: flex;
  align-items: flex-start; 
  gap: 20px;
  padding: 20px;
  background: var(--carousel-background1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card-left {
  flex-direction: row;
}

.card-right {
  flex-direction: row-reverse;
}

.card:hover {
  transform: scale(1.05);
}

.card-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  position: relative;
  width: 250px;
  height: auto;
}

.image-stack {
  /* display: flex;
  justify-content: center;
  align-items: center;  */
  position: relative;
  width: 100%;
  height: 100%;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: contain; 
  border-radius: 10px;
}

.project-image.multiple {
  width: 100%;
}

.project-image.single {
  max-height: 400px;
  width:250px;
}

.project-image.mobile {
  max-height: 430px;
  width: auto;
  margin-left: 20px;
  height:auto;
  object-fit: contain;
}

.project-image:hover {
  transform: translateY(-10px);
  z-index: 2;
}

.project-image:nth-child(2) {
  left: 0px;
  top: 0px;
}

.project-image:nth-child(3) {
  left: 10px;
  top: 20px;
}

.project-image:nth-child(4) {
  left: -10px;
  top: 0px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.card-info h3 {
  margin: 0;
  font-weight: bold;
}

.card-info p {
  margin: 0;
  font-weight: normal;
  color: var(--font-color);
  white-space: pre-wrap;
}

.card-info a {
  margin: 0;
  font-weight: normal;
  color: var(--font-color);
} 