body {
  background-color: rgb(255, 255, 255);
}

.App {
  text-align: center;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

.nav-bar {
  text-align: center;
  min-height: 50px;
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  z-index: 20;
  position: fixed;
  width: 100%;
  top: 0;
}

.page-link {
  display: inline-flex;
  margin: 10px;
  text-decoration: none;
  color: black;
}

/* .page-link:hover {
  color: blue;
} */

.card:nth-child(odd) {
  padding: 10px;
  min-width: 300px;
  max-width: 650px;
  min-height: 150px;
  /* background: rgb(255,255,255); */
  background: -moz-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 246, 246, 1) 52%,
    rgba(230, 236, 237, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 246, 246, 1) 52%,
    rgba(230, 236, 237, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 246, 246, 1) 52%,
    rgba(230, 236, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e6eced",GradientType=1);
  margin: 10px;
  border-radius: 5px;
  /* box-shadow: black 4px 4px; */
  /* opacity: 0.7; */
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: right;
}

.card:nth-child(even) {
  padding: 10px;
  min-width: 300px;
  max-width: 650px;
  min-height: 150px;
  /* background: rgb(255,255,255); */
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 246, 246, 1) 52%,
    rgba(230, 236, 237, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 246, 246, 1) 52%,
    rgba(230, 236, 237, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 246, 246, 1) 52%,
    rgba(230, 236, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e6eced",GradientType=1);
  margin: 10px;
  border-radius: 5px;
  /* box-shadow: black 4px 4px; */
  /* opacity: 0.7; */
}

img.card-image {
  background: #dadada;
  height: 250px;
  width: 300px;
  box-shadow: 2px 2px;
  border-radius: 5px;
}

.card-info {
  min-width: 300px;
  max-width: 400px;
  clear: both;
  margin: 0 10px 0 10px;
}

.card:nth-child(odd) div.card-info {
  float: right;
}
.card:nth-child(odd) div.card-image {
  float: left;
}
.card:nth-child(even) div.card-info {
  float: left;
}
.card:nth-child(even) div.card-image {
  float: right;
}

.work-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 20px;
  outline: none;
}
.custom-btn {
  text-align: center;
  width: 100px;
  height: 40px;
  /* padding: 10px 25px; */
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-flex;
}

.btn-3 {
  line-height: 39px;
  padding: 0;
}
.btn-3:hover {
  background: transparent;
  color: #000;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

.landing {
  align-self: center;
  justify-self:center;
  text-align: center;
  vertical-align: middle;
  margin-top: 20%;
}

.aboutContainer{
  margin-top: 18%;
  display: flex;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
}

.aboutMeInfo{
  width: 350px;
  margin-left: 15px;
}

.meetJan img{
  width: 350px;
  margin-top: 10px;
}
