:root {
  --font-color: #333;
  --background-color: rgb(255, 255, 255);
  --link-color: cornflowerblue;
  --carousel-background1: rgba(255, 255, 255, 0.7);
  --carousel-background2: rgba(247, 246, 246, 0.7);
  --carousel-background3: rgba(231, 234, 235, 0.7);
  --slider-color: rgb(219, 219, 219);
}

[data-theme="dark"] {
  --font-color: #eee;
  --background-color: #333;
  --link-color: lightblue;
  --carousel-background1: rgba(119, 119, 119, 0.7);
  --carousel-background2: rgba(112, 112, 112, 0.7);
  --carousel-background3: rgba(59, 59, 59, 0.7);
  --slider-color: rgb(199, 199, 199);
}

/*toggle element*/
.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  position: fixed;
  justify-content: center;
  width: 100%;
  bottom: 0;
}

.toggle-theme-wrapper span {
  font-size: 28px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 44px;
  width: 60px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: var(--font-color);
  position: relative;
  cursor: pointer;
  top: 10px;
  height: 26px;
  width: 52px;
  transition: 0.2s;
  border-radius: 34px;
}

.slider:before {
  background-color: var(--slider-color);
  bottom: 0px;
  content: "";
  height: 26px;
  left: 0px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: cornflowerblue;
}

.slider.round {
  border-radius: 34px;
  width: 52px;
}

.slider.round:before {
  border-radius: 50%;
}

a {
  color: var(--link-color);
}

/* rest of app css */

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

.nav-bar {
  text-align: center;
  min-height: 50px;
  background-color: var(--background-color);
  opacity: 0.6;
  z-index: 20;
  position: fixed;
  width: 100%;
  top: 0;
}

.page-link {
  display: inline-flex;
  margin: 10px;
  text-decoration: none;
  color: var(--font-color);
}

.slider-card {
  width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-row {
  margin: 20px;
}

.slider-dots {
  display: block;
  width: 100%;
  padding: 0;
  margin-top: 1em;
  list-style: none;
  text-align: center;
}

.slider-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slider-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slider-dots li button:hover,
.slider-dots li button:focus {
  outline: none;
}

.slider-dots li button:hover:before,
.slider-dots li button:focus:before {
  opacity: 1;
}

.slider-dots li button:before {
  font-family: "slick";
  font-size: 40px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: var(--font-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider-dots li.slider-dots-active button:before {
  opacity: 0.75;
  color: var(--font-color);
}

.card {
  padding: 10px;
  white-space: pre-wrap;
}

.carousel-item:nth-child(odd) {
  background: -moz-linear-gradient(
    270deg,
    var(--carousel-background1) 0%,
    var(--carousel-background2) 52%,
    var(--carousel-background3) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    var(--carousel-background1) 0%,
    var(--carousel-background2) 52%,
    var(--carousel-background3) 100%
  );

  background: linear-gradient(
    270deg,
    var(--carousel-background1) 0%,
    var(--carousel-background2) 52%,
    var(--carousel-background3) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e6eced",GradientType=1);
  border-radius: 5px;
  text-align: right;
}

.carousel-item:nth-child(even) {
  background: -moz-linear-gradient(
    90deg,
    var(--carousel-background1) 0%,
    var(--carousel-background2) 52%,
    var(--carousel-background3) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    var(--carousel-background1) 0%,
    var(--carousel-background2) 52%,
    var(--carousel-background3) 100%
  );

  background: linear-gradient(
    90deg,
    var(--carousel-background1) 0%,
    var(--carousel-background2) 52%,
    var(--carousel-background3) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e6eced",GradientType=1);
  border-radius: 5px;
}

img.card-image {
  box-shadow: 2px 2px;
  border-radius: 5px;
  width: 300px;
}

.card-info {
  min-width: 300px;
  max-width: 250px;
  margin: 10px;
}

.card-info::first-line {
  font-weight: bold;
}

.carousel-item:nth-child(odd) div.card-info {
  float: right;
}

.carousel-item:nth-child(odd) div.card-image {
  float: left;
}

.carousel-item:nth-child(even) div.card-info {
  float: left;
}

.carousel-item:nth-child(even) div.card-image {
  float: right;
}

.work-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 1%;
  outline: none;
}

.custom-btn {
  text-align: center;
  width: 100px;
  height: 40px;
  /* padding: 10px 25px; */
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-flex;
  margin-top: 10px;
}

.btn-3 {
  line-height: 39px;
  padding: 0;
  border-color: var(--font-color)
}

.btn-3:hover {
  background: transparent;
  color: var(--font-color);
}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: var(--font-color);
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: var(--background-color);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

.landing {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing img {
  max-width: 100%;
  height: auto;
}

.aboutContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: flex;
}

.aboutMeInfo {
  width: 350px;
  margin-left: 15px;
}

.aboutMeInfo p {
  margin-top: 6px;
}

.meetJan img {
  width: 350px;
  margin-top: 10px;
  border-radius: 8px;
}

#skills-container {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#gallery-container {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#gallery-container img {
  max-height: 80px;
  max-width: 125px;
}

#contact-logo-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: flex;
}

#contact-logo-container img {
  width: 100px;
}

.contact {
  margin: 0 25px 0 25px;
}

@media screen and (max-width: 730px) {
  .aboutContainer {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .aboutMeInfo {
    width: 310px;
    margin-left: 5px;
  }

  .meetJan img {
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
  }

  .custom-btn {
    width: 80px;
    height: 35px;
    font-weight: 500;
  }

  .btn-3 {
    line-height: 36px;
    padding: 0;
  }

  .slider-card {
    width: 350px;
    position: absolute;
    left: 50%;
    margin-top: 60px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }

  .carousel-row {
    margin-left: 15px;
    margin-right: 20px;
  }

  .carousel-item {
    padding: 0;
    height: 750px;
  }

  .card-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-image img {
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
  }

  #passion-intro {
    margin: -28px;
    margin-bottom: 10px;
    text-align: justify;
  }
}

@media screen and (max-width: 680px) {
  .card {
    padding: 10px;
    white-space: pre-wrap;
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  .card-image {
    text-align: center;
  }

  .passion-intro {
    width: 60%;
    font: bolder;
  }

  #gallery-container {
    width: 70%;
  }

  #gallery-container img {
    max-height: 60px;
  }
}

@media screen and (max-width: 580px) {
  #contact-logo-container {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  #contact-logo-container img {
    width: 100px;
  }

  .contact {
    margin: 10px 0 10px 0;
  }

  .custom-btn {
    width: 60px;
    height: 25px;
    font-weight: normal;
    font-size: 0.7em;
  }

  .btn-3 {
    line-height: 25px;
    padding: 0;
  }
}

@media screen and (max-width: 455px) {
  .custom-btn {
    width: 54px;
    height: 25px;
    font-weight: normal;
    font-size: 0.7em;
    margin: 2px;
    margin-top: 10px;
  }

  .btn-3 {
    line-height: 25px;
    padding: 0;
  }
}

@media screen and (max-width: 390px) {
  .custom-btn {
    width: 52px;
    height: 25px;
    font-weight: bolder;
    font-size: 0.6em;
    margin: 2px;
    margin-top: 10px;
  }

  .btn-3 {
    line-height: 25px;
    padding: 0;
  }
}

@media screen and (max-width: 349px) {
  .custom-btn {
    width: 49px;
    height: 25px;
    font-weight: bolder;
    font-size: 0.59em;
    margin: 1.3px;
    margin-top: 10px;
  }

  .btn-3 {
    line-height: 25px;
    padding: 0;
  }
}
